<h4>Today's Events (<%= Date.today.strftime('%d %b %Y') %>)</h4>
<br/>
<% @calendars.each do |calendar| %>
   <ul class="collection with-header">
    <li class="collection-header" style="background-color: <%= calendar['bg_color'] %>; color: <%= calendar['fg_color'] %>">
      <h6><%= calendar['summary'] %></h6>
    </li>
    <%= render partial: "/events", locals: { events: calendar['daily_events']} %>
    <% if(calendar['daily_events'].count == 0) %>
      <li class="collection-item">No events for today!</li>
    <%end%>
  </ul>
<%end%>
