<% events.each do |event, action|%>
  <li class="collection-item">
    <span class='bold-text'><%= event['summary'] %></span>
    <p><%= event['description'] %></p>
    <%= format_event_duration(event, action) %>
    <% if event['location'].present? %>
      <p class='row'>
        <i class="small material-icons col s1">location_on</i>
        <span class='col s10'> <%= event['location'] %></span>
      </p>
    <% end %>
    <%= link_to "Open in Google Calendar", event['html_link'], target: '_blank' %>
  </li>
<%end%>
