<!DOCTYPE html>
<html>
  <head>
    <title>CalendarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="<%= events_daily_path %>">Today's Events</a></li>
          <li><a href="<%= calendars_index_path %>">Calendars</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li>
            <img src="<%= current_user.picture_url %>" class='profile_picture' height=40 >
          </li>
          <li><%= current_user.name %></li>
          <li><a href="<%= logout_path %>">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
